* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
  background: transparent;
  overflow: hidden;
}

#notifications {
  position :absolute;
  top:1vh;
  right:20px;
}

.notification {
  margin: 1rem 0 1rem 1rem;
  background-color: rgb(0, 0, 0, 0.5);
  width: 25vh;
  height: auto;
  word-wrap: break-word;
  padding: 1rem;
  box-shadow: 11px 10px 58px -22px rgba(0, 0, 0, 0.75);
}

.notification-title p {
  font-size: 14px;
}

#message {
  color: #ffffff;
  font-size: 16px;
}